# Ignorar arquivos e diretórios desnecessários
Dockerfile
.dockerignore
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next
.env*.local
.vercel
.git
.gitignore
README.md
.eslintrc.json
.vscode
.DS_Store
*.tgz
*.tar.gz
